body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(237,239,246);
  }


  
.background {
    /* The image used */
    background-image: url(../images/Wheel.jpg);
  
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: 74%;
  }

  h1 {
    font: 400 120px 'Great Vibes', Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.1); 
    position: relative;
    top: 79px;
    left: 0px;
  }

  h2 {
    font: 400 65px 'Great Vibes', Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.1); 
    position: relative;
    top: 45px;
    left:35px;
  }

  #wheel {
      position: relative;
      left: 220px;
      top: 75px;
      opacity: .6;
  }